{% extends "base.html" %}

{% block content %}
<div class="container">

	<h3 class="page-header">Detalhes do Imóvel</h3>

  <div class="col-lg-12">

    <div class="col-lg-3 text-center">
      <div class="imoveis-box-2 ">
        <div class="imagem">
          <img src="/media/{{ imovel.arquivo }}" alt="">
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="well">
        <dl class="dl-horizontal no-margin">
          <dt>Título</dt>
          <dd>{{ imovel.titulo }}</dd>
          <dt>Valor</dt>
          <dd>R$ {{ imovel.valor }}</dd>
          <dt>Endereço</dt>
          <dd>{{ imovel.logradouro }}</dd>
          <dt>Número</dt>
          <dd>{{ imovel.numero }}</dd>
          <dt>Complement</dt>
          <dd>{{ imovel.complemento }}</dd>
          <dt>CEP</dt>
          <dd>{{ imovel.cep }}</dd>
          <dt>Contato</dt>
          <dd>{{ imovel.telefone }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-leg-12">
    <div class="page-header">
      <h4>Observações sobre o imóvel</h4>
    </div>
    <p>{{ imovel.observacoes| linebreaksbr  }}</p>
  </div>
	<div class="col-lg-12">

			<form action="" class="form-horizontal" method="POST">
				{% csrf_token %}
				{% load widget_tweaks %}
				<fieldset>
					<div class="form-group">
						<div class="col-lg-12">
							<label for="">Mensagem</label>
							<textarea name="obs" id="" class="form-control" rows="5"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary pull-right">Enviar Mensagem</button>
						</div>
					</div>
				</fieldset>
			</form>


	</div>

</div>
{% endblock %}
